#welcome {
  background-color: #eee;
  height: calc(100vh - 3em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding:  8px;
}
#welcome > * {
  transform: translate(0%, -12.5%);
  animation: fadeIn 2s;;
}
#welcome .logo {
  width: 35%;
  filter: drop-shadow(2px 2px 8px #0008);
  transform: translate(0,-12.5%);
}
hr {
  margin: 0;
}
.introduction{
  display: flex;
  margin: 8px;
  font-size: max(1.4vw,0.7em);
}
.introduction p{
  flex: 1;
}

@media (max-width: 400px) {
  #welcome{
    flex-direction: column;
  }  
  #welcome .logo{
    transform: translate(0,-33.3%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}